---
layout: page
title: Blog
---

<div class="home">

  <div class="post-list">
    {% for post in site.posts %}
      <div class="post">
        <div class="post-heading">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </div>
          {{ post.excerpt }}
          <a href="{{ post.url | prepend: site.baseurl }}">More...</a>
      </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
