---
layout: page
title: My Projects
permalink: /projects/
---
{% assign current_projects = site.data.projects | where:"current",true %}
{% assign previous_projects = site.data.projects | where:"current",false %}
<script src="https://unpkg.com/@glidejs/glide@3.2.3/dist/glide.min.js"></script>
<div class="projects">
    <h2>I'm currently working on...</h2>
    {% include project-list.html projects=current_projects %}
    </div>
    <h2>I've previously worked on...</h2>
    {% include project-list.html projects=previous_projects %}
</div>
<style>

</style>