<div class="projects">
{% for project in include.projects  %}
    <div class="project">
        <div class="title">
            <img src="{{ project.logo }}" alt="{{ project.name }}">
            <p class="project-date">({{ project.when }})</p>
        </div>
        {% if project.screenshots.size > 0 %}
        <div class="glide" id="{{ project.id }}-glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for screenshot in project.screenshots %}
                    <li class="glide__slide">
                        <img src="{{screenshot}}" alt="{{ project.name }} screenshot">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script>
            glide = new Glide('#{{ project.id }}-glide', {
                type: 'carousel',
                startAt: 0,
                perView: 1,
                autoplay: 5000,
                animationDuration: 1000,
                animationTimingFunc: 'cubic-bezier(0.68, -0.15, 0.265, 1.15)',
            })
            glide.mount();
        </script>
        {% endif %}
        <div class="description">
            {% capture description %}{% include {{ project.description }} %}{% endcapture%}
            {{ description | markdownify }}
        </div>
        <hr>
    </div>
{% endfor %}
</div>