<div class="sidebar">
  <div class="container">
      <div class="sidebar-about">
          <a href="{{ "/" | relative_url }}">
            <img src="https://secure.gravatar.com/avatar/2479575ac758a1a327f173be564925b2?s=400" alt="Michael Hutton">
          </a>
          <h1>
            <a href="{{ "/" | relative_url }}">
              {{ site.title | escape }}
            </a>
          </h1>
          <p class="lead">{{ site.description }}</p>
        </div>
        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>
            {% comment %}
              The code below dynamically generates a sidebar nav of pages with
              `layout: page` in the front-matter. See readme for usage.
            {% endcomment %}
      
            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if node.layout == "page" %}
                  <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </nav>
  </div>
  <div class="container sidebar-sticky">
    <div class="social">
      <a href="https://angel.co/michaelhutton">
        <span class="fa-stack angellist">
          <i class="fas fa-square fa-stack-2x"></i>
          <i class="fab fa-angellist fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://twitter.com/michaelhutton">
        <span class="fa-stack twitter">
          <i class="fas fa-square fa-stack-2x"></i>
          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://www.facebook.com/michael.hutton.319">
        <span class="fa-stack facebook">
          <i class="fas fa-square fa-stack-2x"></i>
          <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://www.linkedin.com/in/m-hutton">
        <span class="fa-stack linkedin">
          <i class="fas fa-square fa-stack-2x"></i>
          <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://github.com/michaelhutton">
        <span class="fa-stack github">
          <i class="fas fa-square fa-stack-2x"></i>
          <i class="fab fa-github-alt fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://bitbucket.org/michaelhutton">
        <span class="fa-stack bitbucket">
          <i class="fas fa-square fa-stack-2x"></i>
          <i class="fab fa-bitbucket fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
