---
---
@import 'poole';
@import 'syntax';
@import 'hyde';
@import 'fontawesome/fontawesome';
@import "fontawesome/solid";
@import "fontawesome/brands";

.sidebar {
  text-align: center;
}

.sidebar img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 200px;
  margin-bottom: 2rem;
}

@media (max-width: 48em){
  .sidebar img {
    max-width: 7em;
  }
  .sidebar-about h1 {
    font-size: 1.3em;
  }
  .lead {
    font-size: 1.2em;
  }
  .content {
    padding-top: 2rem;
  }
  .sidebar {
    padding: 1rem;
  }
}

.sidebar-about h1 {
  font-size: 1.8em;
}

.social {
  padding-bottom: 1em;
}

.social .twitter {
  color: #55acee;
}

.social .linkedin {
  color: #0077B5;
}

.social .github {
  color: #ffffff;
}

.social .bitbucket {
  color: #0747a6;
}

.social .facebook {
  color: #3b5999;
}

.social .angellist {
  color: #ffffff;
}

.social .fa-angellist, .social .fa-github-alt {
  color: #202020;
}

.social a:hover, .social a:active {
text-decoration: none;
}

.project {
  padding: 2rem 10 2rem 0;
}

.title img {
  max-width: 16rem;
}

.project-date {
  margin-bottom: 1rem;
  display: block;
  font-style: italic;
  color: #afafaf;
}

img.post-header {
  margin: 0;
}
.post-header-alt {
  text-align: center;
  font-style: italic;
  font-size: 80%;
  display: block;
}