---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.image %}
    <figure>
      <img class="post-header" src="/assets/images/{{ page.image }}" alt="{{ page.image-alt }}">
      <figcaption class="post-header-alt">{{ page.image-alt }}</figcaption>
    </figure>
  {% endif %}
  {{ content }}
</div>

{% if site.related_posts.size > 0 %}
  <div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
